type hal_fingerprint_wasabi, coredomain, domain;
hal_client_domain(hal_fingerprint_wasabi, hal_fingerprint)
hal_server_domain(hal_fingerprint_wasabi, hal_fingerprint)

type hal_fingerprint_wasabi_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_wasabi)
